

    
    <table class="table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Booking Id</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Booking Time</th>
                <th scope="col">Booking Status</th>
                <th scope="col">Payment Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Flight No</th>
                <th scope="col">Flight Name</th>
                <th scope="col">From Location</th>
                <th scope="col">To Location</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Date Of Travel</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>

