<div class="about-section">
    <h1>About Our Team</h1>
    <p>Developers of Airlines Project</p>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Sindhu</h3>
          <p class="title">Team Lead</p>
          <p>sindhu123@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Kavitha</h3>
          <p class="title">Member</p>
          <p>kavitha1999@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h3>Pranav</h3>
            <p class="title">Member</p>
            <p>pranav12@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h3>Renraj</h3>
            <p class="title">Member</p>
            <p>raj@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h3>Arun</h3>
            <p class="title">Member</p>
            <p>arun2000@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Abhiram</h3>
          <p class="title">Member</p>
          <p>ram2703@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
