h1{
    font-size: 1cm; 
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}

.table-striped{
    margin-right: 100%; 
    margin-top: 50px;
    width: 100%;
}
tr{
    
    text-align: center;
}

tbody{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: white;
}

h2{
    text-align: center;
    margin-top: 350px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chartreuse;
}