<table class="table table-hovered table-stripped">
    <thead>
        <tr>
            <th>Flight Id</th>
            <th>Flight No</th>
            <th>Flight Name</th> 
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Travel Date</th> 
            <th>Duration</th>
            <th>Seats Available</th>
            <th>Price</th> 
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" (click)="onLoad()">Book</button>